/*--------------------------------------------------------------------------
  Project Name:HTML Template
  Project Description: A simple page made for ThemeForest
  File Name: 404.scss
  Author:
  Author URI:
  Version: 1.0.0
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* [TABLE OF CONTENTS]
/*
/*  1. SECTION NOT FOUND CONTENT
/*--------------------------------------------------------------------------*/
/*--------m------------------------------------------------------------------*/
/*1. SECTION NOT FOUND CONTENT
/*--------------------------------------------------------------------------*/
.not-found-content {
  display: block;
  width: 100%;
  position: relative;
  img {
    max-width: 100%;
    height: auto;
    position: fixed;
  }
  .not-found-wrap-mobile {
    text-align: center;
    h1 {
      margin-top: 125px;
      font-size: 100px;
      font-weight: normal;
      font-family: "Open Sans" , sans-serif;
      color: rgb( 0, 0, 0 );
      text-align: center;
    }
    h4 {
      font-size: 24px;
      font-family: "Open Sans",sans-serif;
      color: rgb( 0, 0, 0 );
     }
    a{
      font-size: 12px;
      font-family: "Open Sans", sans-serif;
      color: rgb( 0, 0, 0 );
      text-decoration: underline;
      text-transform: uppercase;
     }
  }
}
