/*--------------------------------------------------------------------------
  Project Name:HTML Template
  Project Description: A simple page made for ThemeForest
  File Name: contact2.scss
  Author:
  Author URI:
  Version: 1.0.0
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* [TABLE OF CONTENTS]
/*  1. BODY CT2 STYLE
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* 1. BODY CT2 STYLE */
/*--------------------------------------------------------------------------*/
.ct2{
  div.s-map.ct3 {
      height: 340px;
  }
  .phone-wrap-number{
      margin-bottom: 40px;
  }
  .contact-input{
      margin-bottom: 25px;
  }
  .contact-input-text{
      margin-top: 20px;
      margin-bottom: 50px;
  }
  .s-contact{
      padding-bottom: 60px;
  }
}
