/*--------------------------------------------------------------------------
  Project Name:HTML Template
  Project Description: A simple page made for ThemeForest
  File Name: fonts.scss
  Author: 
  Author URI: 
  Version: 1.0.0
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* [TABLE OF CONTENTS]
/*  1. FONTS LIST
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* 1. FONTS LIST */
/*--------------------------------------------------------------------------*/
@font-face {
  font-family: 'Balqis';
  /* Font's name */
  src: url(/fonts/balqis/Balqis.otf);
  /* path to font */
}
@font-face {
  font-family: 'Barkentina';
  /* Font's name */
  src: url(/fonts/barkentina/Barkentina_1.otf);
  /* path to font */
}
@font-face {
  font-family: 'SCRIPTBL';
  /* Font's name */
  src: url(/fonts/script-mt-bold/SCRIPTBL.TTF),url(/fonts/script-mt-bold/SCRIPTBL.eot);
  /* path to font */
}
@font-face {
  font-family: 'FiraSans-Bold';
  /* Font's name */
  src: url(/fonts/Fira_Sans/FiraSans-Bold.ttf);
  /* path to font */
}
@font-face {
  font-family: 'FiraSans-Regular';
  /* Font's name */
  src: url(/fonts/Fira_Sans/FiraSans-Regular.ttf);
  /* path to font */
}
@font-face {
  font-family: 'OpenSans-Semibold';
  /* Font's name */
  src: url(/fonts/Open_Sans/OpenSans-Semibold.ttf );
  /* path to font */
}
@font-face {
  font-family: 'OpenSans-Bold';
  /* Font's name */
  src: url(/fonts/Open_Sans/OpenSans-Bold.ttf );
  /* path to font */
}
@font-face {
  font-family: 'OpenSans-Regular';
  /* Font's name */
  src: url(/fonts/Open_Sans/OpenSans-Regular.ttf );
  /* path to font */
}
@font-face {
  font-family: 'OpenSans-Light';
  /* Font's name */
  src: url(/fonts/Open_Sans/OpenSans-Light.ttf );
  /* path to font */
}
