/*--------------------------------------------------------------------------
  Project Name:HTML Template
  Project Description: A simple page made for ThemeForest
  File Name: my-account.scss
  Author:
  Author URI:
  Version: 1.0.0
--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* [TABLE OF CONTENTS]
/*  1. VARIABLES & MIXINS
/*  2. SECTION S-ACCOUNT
/*  3. BASKET WRAP STYLE
/*  4. POPUP ACCOUNT STYLE
/*  5. BUTTON STEP ONE NEXT
/*  6. WISHLIST STYLE
/*--------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------*/
/* 1. VARIABLES & MIXINS */
/*--------------------------------------------------------------------------*/
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin placeholder($color) {
  &::-webkit-input-placeholder {
    color: $color;
    transition: all .35s ease;
  }
  &:-moz-placeholder {
    color: $color;
    transition: all .35s ease;
  }
  &::-moz-placeholder {
    color: $color;
    transition: all .35s ease;
  }
  &:-ms-input-placeholder {
    color: $color;
    transition: all .35s ease;
  }
}
/*--------------------------------------------------------------------------*/
/* 2. SECTION S-ACCOUNT */
/*--------------------------------------------------------------------------*/
.s-account{
  min-height: 720px;
  h3{
  text-align: left;
  margin-bottom: 50px;
  font-size: 24px;
  font-family: "OpenSans", sans-serif;
  color: rgb( 0, 0, 0 );
  }
}
.p-inform-list {
  display: inline-block;
  margin-bottom: 45px;
  margin-right: 50px;
  text-align: left;
  margin-left: 40px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      a{
      font-size: 15px;
      font-family: "OpenSans",sans-serif;
      color: black;
      padding: 0 0 15px 0;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      white-space: nowrap;
      transition: all .35s ease;
      &:hover{
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        }
      }
    }
  }
}
.p-inform-right,
.p-inform-left {
  display: inline-block;
  text-align: left;
  margin-left: 86px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 10px;
      a{
      font-size: 18px;
      font-family: "OpenSans",sans-serif;
      color: rgb( 0, 0, 0 );
      text-align: center;
      text-decoration: none;
      }
    }
  }
}
.p-inform-right{
  display: inline-block;
  text-align: left;
  margin-left: 46px;
}
.p-inform-birth-left,
.p-inform-birth-right {
  display: inline-block;
  text-align: left;
  margin-left: 86px;
  margin-top: 15px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      margin-bottom: 15px;
      a{
      font-size: 18px;
      font-family: "OpenSans",sans-serif;
      color: rgb( 0, 0, 0 );
      text-align: center;
      text-decoration: none;
      }
    }
  }
}
.p-inform-birth-right {
  display: inline-block;
  text-align: left;
  margin-left: 46px;
  margin-top: 15px;
}
.p-inform-list-edit {
  display: inline-block;
  margin-right: 50px;
  text-align: left;
  margin-left: 9px;
  border-left: 1px solid #E6E6E6;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      white-space: nowrap;
      a{
        display: inline-block;
        font-size: 14px;
        padding:0 0 15px 50px;
        font-family: "OpenSans",sans-serif;
        color: rgb( 0, 0, 0 );
        text-align: center;
        text-decoration: none;
       transition: all .35s ease;
      &:hover{
        -webkit-transform: scale(1.05);
       transform: scale(1.05);
        }
      }
    }
  }
}
.p-inform-wrap{
    display: block;
    border-left: 1px solid #E6E6E6;
    margin-left: -50px;
}
/*--------------------------------------------------------------------------*/
/* 3. BASKET WRAP STYLE
/*--------------------------------------------------------------------------*/
.order-item-basket{
  display: inline-block;
  text-align: left;
  background: #fff;
  border: 2px solid #797979;
  margin-bottom: -5px;
  min-width: 100%;
  position: relative;
  min-height: 148px;
  display: inline-flex;
  margin-bottom: 15px;
  .col-md-2{
    text-align: center;
  }
   .wrap-number{
    min-height: 148px;
    align-items:center;
    display: inline-flex;
    text-align: center;
    input{
      width: 65px;
      height: 25px;
      border-width:2px;
      outline: none;
    }
  }
}
.order-item-basket .icon-axiclosed {
  color: #c0c0c0;
  transition: all 0.5s;
  font-size: 22px;
  display: inline-block;
  position: absolute;
  top: 5px;
  right: 3px;
  &:hover {
    color:#868686;
  }
}
.order-item-cart .col-md-2 .wrap-number:nth-child(2){
  border:1px #000 solid;
}
.header-order-basket{
  width: 100%;
  background:#797979;
  border-radius: 3px 3px 0 0;
  text-align: center;
  display: inline-flex;
  align-items:center;
  font-size: 12px;
  font-family: "OpenSans",sans-serif;
  text-transform: capitalize;
  span{
  color: #fff;
  margin-top: 5px;
  display: inline-block;
  margin-bottom: 5px;
  }
}
.title-order-basket{
  p{
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb( 0, 0, 0 );
    text-transform: uppercase;
    text-align: left;
    margin-top: 15px;
  }
}
.order-item-basket{
  .col-sm-4.col-md-4.col-xs-4 span {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb( 0, 0, 0 );
    text-align: center;
    margin-left: -15px;
  }
  .col-sm-8.col-md-8.col-xs-8 span {
    font-size: 16px;
    font-family: "OpenSans", sans-serif;
    color: rgb( 0, 0, 0 );
    text-align: center;
    margin-left: 0px;
  }
  .img-order img {
    height: 140px;
    width: auto;
    padding-top: 10px;
  }
  .price-account{
    min-height: 148px;
    min-width: 20px;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-family: "OpenSans", sans-serif;
   }
}
.cost{
  border-left: 2px solid #fff;
}
.price-account2{
  min-height: 148px;
  align-items: center;
  display: inline-flex;
  text-align: center;
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
}
b {
  font-size: 18px;
  font-family: "OpenSans", sans-serif;
  font-weight: normal;
}
.select{
  .sum{
    min-height: 148px;
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-size: 18px;
    font-family: "OpenSans",sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.333;
    text-align: justify;
  }
  span{
    font-size: 18px;
  }
  b {
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    font-weight: normal;
  }
}
.select2{
  .sum2{
    min-height: 148px;
    align-items: center;
    display: inline-flex;
    text-align: center;
    font-size: 18px;
    font-family: "OpenSans", sans-serif;
    color: rgb( 0, 0, 0 );
    line-height: 1.333;
    text-align: justify;
  }
  span {
    display: inline-block;
    font-size: 18px;
  }
}
.total-wrap-basket {
  h4 {
    text-align: right;
    margin-bottom: 20px;
    margin-top: -20px;
    span{
    font-weight: bold
    }
  }
  .first-order {
  border-top: none;
  }
}
.submit-basket{
  position: absolute;
  bottom: -49px;
  right: 16px;
  padding: 14px 72px!important;
  margin-bottom: 0!important;
}
/*--------------------------------------------------------------------------*/
/* 4. POPUP ACCOUNT STYLE
/*--------------------------------------------------------------------------*/
.popup-over {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  text-align: center;
  overflow: hidden;
  z-index: 2;
}
.popup-over:after {
  content: '';
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.popup-account {
  display: inline-block;
  position: relative;
  max-width: 80%;
  padding: 0;
  vertical-align: middle;
  background-color: rgb(255, 255, 255);
  width: 700px;
  height: 606px;
  z-index:100;
  margin:0px auto;
  padding:10px;
  font-size:30px;
  color: #000;
  h4{
    text-align: center;
    margin-bottom: 0;
    margin-top: 20px;
    font-size: 18px;
    font-family: "FiraSans", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 1.944;

  }
  div{
    font-size: 14px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.5;
    display: inline-block;
  }
}
.popup-close-account{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  img{
    width: 28px;
    height: 28px;
  }
}
.account-payment {
  margin-top: 10px!important;
  text-align: right;
}
.step{
  width: 173px;
  height: 40px;
}
.steps-svg {
  margin-top: 30px;
  .second-step{
    margin-left: -25px;
  }
  .third-step{
    margin-left: -25px;
  }
}
.support-acc{
  margin-right: 30px;
}
.form-one,
.form-two,
.form-three {
  margin-top: 20px;
  display: block;
  input {
    display: block;
    border: none;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: capitalize;
    background: transparent;
    border-bottom: 2px solid rgb(150, 150, 150);
    width: 443px;
    height: 19px;
    color: #000;
    outline: none;
    font-size: 16px;
    &:hover,
    &:focus,
    &:active {
      border-bottom: 2px solid rgb(0, 0, 0);
      &[placeholder] {
      @include placeholder(#000);
      }
    }
  }
}
.form-two{
  input[type="text"]:nth-child(2){
    margin-bottom: 20px;
  }
  input[type="text"]:nth-child(3),
  input[type="text"]:nth-child(4) {
    margin-bottom: 0px;
  }
}
.form-three {
  input {
    margin-bottom: 10px;
  }
}
#form-step-two{
  input#number-step,
  input#apartment-step {
    display: inline-block;
    border: none;
    text-transform: capitalize;
    background: transparent;
    border-bottom: 2px solid rgb(150, 150, 150);
    width: 200px;
    color: #000;
    outline: none;
  }
}
#form-step-two{
  input#number-step{
    margin-right: 9px;
  }
  input#apartment-step {
    margin-left: 25px;
  }
}
#form-step-three{
  text-align: left;
  select{
    margin-bottom: 18px;
  }
  label{
    display: block;
    font-size: 18px;
    line-height: 1;
  }
  label[for="coupon"]{
    display: block;
    margin-bottom: 10px;
  }
  label[for="payment-card"]{
    display: block;
    margin-bottom: 10px;
  }
  input#exp-date,
  input#cvv-card,
  input#coupon,{
    margin-top: 0;
    width: 127px;
    display: inline-block;
    margin-bottom: 0;
  }
  input#exp-date{
    margin-right: 42px;
  }
  input#coupon{
  display: block;
  }
  .label-wrap{
    display: inline-block;
    height: 63px;
  }
}
/*--------------------------------------------------------------------------*/
/* 5. BUTTON STEP ONE NEXT
/*--------------------------------------------------------------------------*/
button.step-one,
button.step-two,
button.step-three {
  display: block;
  padding: 5px 70px;
  background: #00A3E2;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 0;
  margin-top: 50px;
  z-index: 0;
  white-space: nowrap;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00A3E2;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:hover {
    background-color: #fff;
    color: #00A3E2;
    border-color: #00A3E2;
    &::before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}
button.step-one {
  margin-top: 20px;
}
.form-three {
  width: 450px;
  select{
    text-align: left;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(150, 150, 150);
    border-radius: 2px;
    background-color: rgba(242, 242, 242, 0);
    width: 156px;
    height: 40px;
  }
  label{
    font-size: 18px;
    font-family: "OpenSans",sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    margin-bottom: 0;
    font-weight: normal;
  }
}
input#num-card {
  margin-bottom: 18px;
  width: 300px;
}
/*--------------------------------------------------------------------------*/
/* 6. WISHLIST STYLE
/*--------------------------------------------------------------------------*/
.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  outline: none!important;
}
.prod-wrap-wishlist {
  display: none;
  text-align: center;
  .goods-amount {
    display: inline-flex;
    text-align: left;
    position: relative;
    top: 8px;
    left: 0;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    span{
      font-size: 16px;
      margin-left: 10px;
      font-family: "Open Sans", sans-serif;
      color: rgb(0, 0, 0);
      line-height: 1.2;
      font-weight: bold;
    }
    b{
     font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    font-weight: bold;
    position: relative;
    }
  }
  .del {
      font-family: "Open Sans",sans-serif;
      margin-left: 30px;
      color: rgb( 115, 115, 115 );
      font-size: 12px;
      &:hover{
        color: #000;
    }
  }
  .checkbox {
    display: inline-block;
    position: absolute;
    left: 7px;
    top: -31px;
  }
  .prod-wrap-item {
    .sale-red:before {
      position: absolute;
      top: 36px;
      left: 0;
    }
    .new-green:before {
      position: absolute;
      top: 12px;
      left: 3px;
    }
  }
    .checkbox input[type="checkbox"]:checked + label::before  {
      outline:none;
      border: 3px solid #868686;
  }
  .checkbox input[type="checkbox"]:checked + label::after {
    content:"";
    background-image:url(/images/icons/right.png);
    margin-left: -15px;
    padding-top: 10px;
    margin-top: 7px;
    width: 14px;
    height: 10px;
  }
  .prod-wrap-item {
    display: inline-block;
    position: relative;
    margin-bottom: 20px;
    .icon-axiclosed {
      font-size: 25px;
      position: absolute;
      top: -19px;
      right: 36px;
      color: #c0c0c0;
      transition: all 0.5s;
    }
    a:hover .icon-axiclosed {
      color:#868686;
    }
  }
  .prod-wrap-item {
      overflow: visible;
  }
}
.prod-wrap-wishlist .prod-wrap-item .sale-red:before,
.prod-wrap-item .new-green:before {
  position: absolute;
  top: 12px;
  left: 0;
}
.prod-wrap-item .new-green:before {
    position: absolute;
    top: 12px;
    left: 13px;
}
.basket-wrap{
  display: none;
}
/*--------------------------------------------------------------------------*/
/* 6. BUTTON MY WISH BUTTON STYLE
/*--------------------------------------------------------------------------*/
button.my-wish-button {
  padding: 9px 46px;
  background: #00A3E2;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00A3E2;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:hover {
    background-color: #fff;
    color: #00A3E2;
    border-color: #00A3E2;
    &::before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}
.wish-list-line {
  position: relative;
  top: -50px;
  left: 0;
  text-align: left;
}
/*--------------------------------------------------------------------------*/
/* 6. BUTTON SEARCH MOBILE MENU STYLE
/*--------------------------------------------------------------------------*/
button.submit-basket {
  padding: 14px 55px;
  background: #00A3E2;
  color: #fff;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 50px;
  margin-left: 16px;
  z-index: 0;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00A3E2;
    z-index: -1;
    border-radius: inherit;
    opacity: 0;
    -webkit-transform: scale3d(0.6, 0.6, 1);
    transform: scale3d(0.6, 0.6, 1);
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  }
  &:hover {
    background-color: #fff;
    color: #00A3E2;
    border-color: #00A3E2;
    &::before {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
}

